<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>417054168962-49k6j2j03av1acaehjq27ok914imij09.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.417054168962-49k6j2j03av1acaehjq27ok914imij09</string>
	<key>API_KEY</key>
	<string>AIzaSyAB6a6ctaW3wDAZhbz4kjwfVqq7cPdDrlk</string>
	<key>GCM_SENDER_ID</key>
	<string>417054168962</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jumush</string>
	<key>PROJECT_ID</key>
	<string>jumush-phone-otp</string>
	<key>STORAGE_BUCKET</key>
	<string>jumush-phone-otp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:417054168962:ios:38ea9b8720ae510d10219b</string>
</dict>
</plist>